.Experts{
    background:#fff;
}

.expert_left{
    width: 45%;
}
.expert_right{
    width: 45%;
}
.expert_right img{
    width: 40px;
    height: 40px;
}
.expert_wrapper{
    display: flex;
    gap: 2em;
}
.export_box img {
    width: 50px;
    height: 50px;
}
.exports_right_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}
.export_box{
    width: 20%;
    height: 100px;
}
.expert_left h1{
    font-size: 59px;
    font-weight: 500;
    line-height: 64px;
    color: #09090B;
}
.expert_left p {
    font-size: 22px;
    line-height: 28px;
    color: #383941;
    margin-top: 1em;
}
.export_box.export_box_4 {
    display: flex;
    justify-content: flex-end;
}
.export_box.export_box_5 {
    display: flex;
    justify-content: flex-end;
}
.export_box.export_box_3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media(max-width:550px){
    .expert_wrapper{
        flex-direction: column;
    }
    .expert_left{
        width: 100%;
    }
    .expert_right{
        width: 100%;
    }
    .expert_left h1{
        font-size: 43px;
        line-height: normal;
    }
    .expert_left p {
        font-size: 19px;
    }

}





