.logo img {
  width: 200px;
}

.flex_container {
  max-width: 73.5em;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  align-items: center;
  gap: 6em;
  background-color: white;
  border-radius: 4em;
  margin-top: 2em;
}

.list_items {
  display: flex;
  gap: 3em;
}

.list_items a {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #333333;
}

.list_items a:hover {
  color: #02549D;
}

.list_items a.active {
  color: #02549D;
}

.btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 10px 22px;
  border-radius: 20px;
  background: black;
  color: white;
  border: none;
  outline: none;
}

/* Nav Links er color change korbe jodi website er background dark hoi tahole white nah hole nav links er color dibe dark */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  display: none;
  z-index: 10000000;
  background-color: #fff;
}

.overlay.active {
  opacity: 0.2;
  display: block;
  visibility: visible;
}

.sidebar .app_button {
  padding: 11px 8px !important;
}

.sidebar {
  position: fixed;
  top: -100%;
  background: #fff;
  color: var(--white-color);
  width: 100%;
  transition: top 0.5s ease-in-out;
  padding: 1.5em;
  z-index: 10;
  height: 250px;
}

.sidebar.active {
  top: 70px;
}

.sidebar_title {
  font-size: 1.7em;
  margin-bottom: 2em;
}

.close_button {
  position: absolute;
  top: 4%;
  right: 4%;
  background: var(--secondary-color);
  border: none;
  outline: none;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  color: var(--white-color);
}

.mobile_navigation .nav_links {
  color: black;
  font-size: 1.2em;
  font-weight: 700;
  transition: var(--primary-transition);
}

.mobile_navigation .nav_links.active {
  /* EKhane background color changes korte hobe */
  color: green;
}

.mobile_navigation .nav_links:hover {
  /* EKhane background color changes korte hobe */
  color: #E12A2A;
}

.hamburger_menu {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.navigation_icons {
  fill: var(--white-color);
}

.menu-toggle {
  display: none;
}

@media (max-width: 550px) {

  .nav_btn .app_button_secondary,
  .app_button {
    display: none;
  }

  .nav_link {
    display: none;
  }

  .app_button {
    display: block;
    font-size: 19px;
  }
}

@media (max-width:990px) {
  .list_item {
    display: none;
  }

  .button {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .flex_container {
    justify-content: space-between;
    padding: 1em 2em;
    border-radius: 0em;
    margin-top: 0em;
    position: relative;
    z-index: 999;
  }

  .menu-toggle i {
    font-size: 1.5em;
  }

}

/* Hambuger Menu Css */

#hamburger {
	width: 4em;
}

#top-line,
#bottom-line,
#middle-line {
	transform-box: fill-box;
	transform-origin: center;
}

#hamburger.active {
	#top-line {
		animation: down-rotate 0.6s ease-out both;
	}
	#bottom-line {
		animation: up-rotate 0.6s ease-out both;
	}
	#middle-line {
		animation: hide 0.6s ease-out forwards;
	}
}

@keyframes up-rotate {
	0% {
		animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
		transform: translateY(0px);
	}
	30% {
		transform-origin: center;
		animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
		transform: translateY(-10px);
	}
	100% {
		transform-origin: center;
		transform: translateY(-10px) rotate(45deg) scale(0.9);
	}
}

@keyframes down-rotate {
	0% {
		animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
		transform: translateY(0px);
	}
	30% {
		transform-origin: center;
		animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
		transform: translateY(10px);
	}
	100% {
		transform-origin: center;
		transform: translateY(10px) rotate(-45deg) scale(0.9);
	}
}

@keyframes hide {
	29% {
		opacity: 1;
	}
	30% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
