.hero .container{
    gap: 9em;
}
.hero_heading{
    width: 45%;
}
.hero_img{
    width: 45%;
}
.hero_heading h1{
    font-size: 50px;
    font-weight: 700;
    line-height: 75px;
    color: #09090B;
}
.hero_heading p{
    font-size: 16px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 2em;
}


@media(max-width:550px){
    .hero .container{
        flex-direction: column-reverse;
    }
    .hero_heading{
        width: 100%;
    }
    .hero_img{
        width: 100%;
    }
}