.work_wrapper {
    display: flex;
    gap: 4em;
}

.work_left {
    width: 45%;
}

.work_right {
    width: 45%;
}

img.work_right_img {
    height: 520px;
    width: 100%;
    object-fit: cover;
}

section.work.sec_padding {
    background: #fff;
}

.right_img img {
    width: 45%;
    display: block;
    border-radius: 2.5em;
}

.right_img {
    margin-top: 3em;
}

.left_img {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 1.5em;
}

.left_img img {
    width: 50%;
    border-radius: 2.5em;
}

.work_left h1 {
    font-size: 55px;
    font-weight: 500;
    margin-bottom: 1em;
}

.work_left p {
    font-size: 20px;
    max-width: 475px;
}


@media (max-width:990px){
    .work_wrapper{
        flex-direction: column;
    }
    .work_right{
        width: 100%;
    }
    .work_left{
        width: 100%;
    }
    .left_img{
        justify-content: flex-start;
        align-items: flex-start;
    }

    .left_img img{
        width: 100%;
    }
    .right_img img{
        width: 100%;
    }
}